<div class="our-services_footer">
  <div class="our_other_services">
    <div class="our_services_heading">
      <h1>Our Other Services</h1>
    </div>
    <div class="other_services">
      <div class="other_services_one">
        <ul>
          <li>Battery Jumpstart</li>
          <li>Self Start issue</li>
          <li>Minor Electrical Checking</li>
          <li>Battery Replacement/ Checking</li>
          <li>Self Motor Checking</li>
          <li>Spark Plug Cleaning/Replacement</li>
          <li>Air Checking</li>
        </ul>
      </div>
      <div class="other_services_one">
        <ul>
          <li>Car fluid leakage</li>
          <li>Wrong fuel emergency</li>
          <li>Engine Oil Checking/Replacement</li>
          <li>Carburetor Cleaning</li>
          <li>Disc Brake Oil Check/Top-Up</li>
          <li>Accelerator Cable Lubrication</li>
          <li>Clutch Breakdown</li>
        </ul>
      </div>
      <div class="other_services_one">
        <ul>
          <li>Adjustment of Mirror</li>
          <li>Brake Failure</li>
          <li>Nut and Bold Tightening</li>
          <li>Vehicle Washing</li>
          <li>Vehicle Polishing</li>
          <li>Sanitizing</li>
          <li>Towing</li>
        </ul>
      </div>
    </div>
  </div>

<!-- <div class="our_service_process">
    <div class="our_services_heading">
      <h1>Our Service Process</h1>
    </div>
    <div class="processDiv">
      <div class="request_process">
        <div class="triangle4"></div>
        <div class="services_icons">
          <img src="../images/one-1.png" alt="" />
          <img src="../images/mobileRequest.png" alt="" />
        </div>
        <p>Request Quote</p>
        <div class="triangle3"></div>
      </div>
      <div class="quote_process">
        <div class="services_icons">
          <img src="../images/two-2.png" alt="" />
          <img src="../images/vehicleRepair.png" alt="" />
        </div>
        <p>Get Your Service</p>
        <div class="triangle2"></div>
      </div>
      <div class="repaired_process">
        <div class="services_icons">
          <img src="../images/three-3.png" alt="" />
          <img src="../images/car repair.png" alt="" />
        </div>
        <p>Get It Repaired</p>
        <div class="triangle1"></div>
      </div>
    </div>
</div> -->


  <!--     
    <div class="our_service_process">
        <div class="our_services_heading">
            <h1>Our Service Process</h1> 
           </div>
           <div class="processDiv">
            <div class="request_process">
                <div class="services_icons">
                    <img src="../images/one-1.png" alt="">
                    <img src="../images/mobileRequest.png" alt="">
                </div>
                <p>Request Quote </p>
            </div>
            <div class="quote_process">
                <div class="services_icons">
                    <img src="../images/two-2.png" alt="">
                    <img src="../images/vehicleRepair.png" alt="">
               
                </div>
                <p>Get Your Service  </p>
            </div>
            <div class="repaired_process">
                <div class="services_icons">
                    <img src="../images/three-3.png" alt="">
                    <img src="../images/car repair.png" alt="">
                </div>
                <p>Vehicle Repaired  </p>
            </div>
    
      
        </div>
    </div>  -->

  <div class="models_heading">
    <h1>WE SERVICE MOST MAKES & MODELS</h1>
  </div>

  <div class="wrapper">
    <div class="marquee">
      <div class="images">
        <img class="logoo" src="../images/honda.png" alt="" />
        <img class="logoo" src="../images/toyata.png" alt="" />
        <img class="logoo" src="../images/tvs.png" alt="" />
        <img class="logoo" src="../images/hero.png" alt="" />
        <img class="logoo" src="../images/jawa.png" alt="" />
        <img class="logoo" src="../images/ktm.png" alt="" />
        <img class="logoo" src="../images/suzaki.png" alt="" />
        <img class="logoo" src="../images/enfield.png" alt="" />
        <img class="logoo" src="../images/mahindra.png" alt="" />
        <img class="logoo" src="../images/bajaj.png" alt="" />
      </div>
      <div class="images">
        <img class="logoo" src="../images/honda.png" alt="" />
        <img class="logoo" src="../images/toyata.png" alt="" />
        <img class="logoo" src="../images/tvs.png" alt="" />
        <img class="logoo" src="../images/hero.png" alt="" />
        <img class="logoo" src="../images/jawa.png" alt="" />
        <img class="logoo" src="../images/ktm.png" alt="" />
        <img class="logoo" src="../images/suzaki.png" alt="" />
        <img class="logoo" src="../images/enfield.png" alt="" />
        <img class="logoo" src="../images/mahindra.png" alt="" />
        <img class="logoo" src="../images/bajaj.png" alt="" />
      </div>
    </div>
  </div>

  <!-- <div class="third_page">
        <div class="third_page_left">
            <img src="mechanic_images/car1.jpg" alt="">
        </div>
        <div class="third_page_right">
            <h1>PICK & DROP SERVICE</h1>
            <p>As we realize that you lead a busy life, <br> so we’ve made it easy for you to pick and drop  <br> your vehicle.</p>
            <button>Get Appointment</button>
        </div>
    </div> -->

  <div class="forth_page">
    <h1>Why Choose Us</h1>
    <div class="fourth_page_block">
      <div class="fourth_page_description">
        <div class="fourth_page_icons">
          <img src="../images/mechanic logo.png" alt="" />
        </div>
        <div class="fourth_page_data">
          <h3>Expert Mechanics</h3>
          <p>
            Highly skilled automotive professionals specializing in complex
            mechanical repairs, diagnostics, and efficient problem-solving.
          </p>
        </div>
      </div>
      <div class="fourth_page_description">
        <div class="fourth_page_icons">
          <img src="../images/rupee icon.png" alt="" />
        </div>
        <div class="fourth_page_data">
          <h3>Reasonable Price</h3>
          <p>
            We offer their services at reasonable prices, providing high-quality
            automotive repairs and maintenance without overcharging their
            customers.
          </p>
        </div>
      </div>
      <div class="fourth_page_description">
        <div class="fourth_page_icons">
          <img src="../images/time.png" alt="" />
        </div>
        <div class="fourth_page_data">
          <h3>Fast Services</h3>
          <p>
            The fast and efficient automotive services, ensuring quick
            turnaround times without compromising on quality or attention to
            detail.
          </p>
        </div>
      </div>
      <div class="fourth_page_description">
        <div class="fourth_page_icons">
          <img src="../images/trusted-user.png" alt="" />
        </div>
        <div class="fourth_page_data">
          <h3>Trusted by Clients</h3>
          <p>
            Trusted by clients due to their reputation for delivering reliable
            and high-quality automotive services, earning the trust and
            satisfaction of their customers.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--                                                                Seventh page                                                                  -->
  <div class="seventh_page">
    <div class="service_partner_img">
      <img height="500" src="../images/service_partner.png" alt="" />
    </div>
    <div class="service_partner_data">
      <h1><span> Become Our </span> Service Partner</h1>
      <p>
        Become our RSA partner & get assured business & take your business next
        level with us. Choose your path to partnership & get all the support you
        need to succeed.
      </p>
      <form class="service_partner_form" method="post" action="/messagePage">
        <input
          type="text"
          placeholder="Name"
          class="form-control w-75"
          required
        />
        <input
          type="number"
          placeholder="Phone"
          class="form-control w-75"
          required
        />
        <input
          type="email"
          placeholder="Email"
          class="form-control w-75"
          required
        />
        <div class="check">
          <input type="checkbox" />
          <h6><span>I agree with </span>Terms & Conditions</h6>
        </div>
        <button class="service_partner_btn">Join us &rarr;</button>
      </form>
      <div></div>
    </div>
  </div>
  <!--                                                                Seventh page                                                                  -->
  <!--                                                                eighth page                                                                  -->

  <div class="eighth_page">
    <div class="footer_page_request_overlay">
      <i
        class="fa-solid fa-xmark fa-xl"
        style="color: #ffffff; height: 20px; width: 50px"
      ></i>
      <div class="form_content">
        <form action="/messagePage" method="post">
          <h1>
            Want To Get Your Vehicles <br />
            Best Care.
          </h1>
          <p>Get your vehicle service</p>
          <input type="text" placeholder="Your name" required />
          <input type="text" placeholder="Contact number" required />
          <input type="text" placeholder="Vehicle name & model" required />
          <input type="text" placeholder="Type of request" required />
          <button class="form_content_button">Submit</button>
        </form>
      </div>
    </div>

    <div class="footer_top">
      <p>
        Now Breakdowns won’t break you down anymore, <br />
        get your services done
      </p>
      <button>Book Appointment</button>
    </div>
    <div class="footer">
      <div class="all_footers">
        <div class="footer__addr">
          <div class="contact">
            <h3>Contact :-</h3>
            <p>
              Corporate Office-219, Chinar Incube Business Centre, Hoshangabad
              Road, Bhopal,Madhya Pradesh
            </p>
            <p>
              Office Address:- 3117, C-Block, Surendra Landmark, Hoshangabad
              Road, BHOPAL,Madhya Pradesh
            </p>
          </div>
          <div class="email">
            <h3>Email Us:-</h3>
            <p>
              mechaniconclick@gmail.com <br />
              customercare@mechaniconclick.com
            </p>
          </div>
          <div class="number">
            <h3>Phone No:-</h3>
            <p>+91 810-9656-300 , +91 755-3100-156</p>
          </div>
        </div>
        <div class="footer1">
          <h3>Services</h3>
          <a href="/rsa"><p>RSA Services</p></a>
          <a href="/diagnostic"><p>Diagnostic Test</p></a>
          <a href="/generalService"><p>General Services</p></a>
          <a href="/engineService"><p>Engine Servicing</p></a>
          <a href="/clutchBody"><p>Clutch & Body</p></a>
          <a href="/tiresWheels"><p>Tires & Wheels</p></a>
          <a href="/acService"><p>AC Services</p></a>
          <a href="/lightsFitments"><p>Lights & Fitments</p></a>
          <a href="/shieldsGlasses"><p>Shields & Glass</p></a>
          <a href="/automation"><p>Automation</p></a>
          <a href="/oil"><p>Oil Changing</p></a>
          <a href="/vaccum"><p>Vacuum Cleaning</p></a>
          <a href="/dents"><p>Dents & Painting</p></a>
          <a href="/schedule"><p>Schedule Services</p></a>
          <a href="/insurance"><p>Insurance Services</p></a>
        </div>
        <div class="footer2">
          <h3>Media</h3>
          <a
            href="https://www.facebook.com/profile.php?id=100085409284213&mibextid=ZbWKwL"
          >
            <i class="fa-brands fa-facebook"></i> FaceBook</a
          >
          <a href="https://youtube.com/@mechaniconclick">
            <i class="fa-brands fa-youtube"></i> Youtube</a
          >
          <a href="http://linkedin.com/in/moctech-private-limited-0646a7269">
            <i class="fa-brands fa-linkedin"></i> Linkedin</a
          >
          <a href="https://instagram.com/mechanic_on_click?igshid=ZDdkNTZiNTM"
            ><i class="fa-brands fa-instagram"></i> Instagram</a
          >
        </div>
        <div class="footer3">
          <h3>Legal</h3>
          <p>FAQs</p>
          <p>Privacy Policy</p>
          <p>T & C</p>
          <p>Sitemap</p>
          <p>Careers</p>
          <p>MOC Partners</p>
          <p>Reviews</p>
          <p>Directory</p>
          <p>Offers</p>
        </div>
      </div>
      <div class="foot_last">
        <p>&copy; 2023 mechaniconclick.com | All rights reserved.</p>
        <p>
          <span
            >Made with <span class="heart">☕</span> by our technical team</span
          >
        </p>
      </div>
    </div>
  </div>
  <!--                                                                eighth  page                                                                  -->
</div>
