<%- include('../header')%>
<div class="message_content">
    <div class="footer_message">
      <h1>Thank you for your request our customer care executive will get back to you shortly!!</h1>
     <a href="/"> <p>click here for home page</p></a>
    </div>
  </div>
<%- include('../footer')%>