<%- include('../header')%>
<%- include('../nav')%>

<div class="our_services_main">
<div class="our_services_main_first_page">

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
      centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
      <swiper-slide>  <img src="../images/ourServices.webp " alt="loading... ">  <div class="servicesSlide">
        <h2>Automation <br> For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div>
    </swiper-slide>
      <swiper-slide><img src="../images/small-engine-mechanics.jpg " alt=" "> <div class="servicesSlide">
        <h2>Automation <br> For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/car-repair.jpg " alt=" "> <div class="servicesSlide">
        <h2>Automation <br> For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/mechanic3.jpg " alt=" "> <div class="servicesSlide">
        <h2>Automation <br> For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
  
    </swiper-container>
</div>

<div class="our_services_main_second_page">
  <div class="our_services_main_second_page_top">
      <h1>SERVICES WE PROVIDE</h1>
      <h5>We Provide all the services, repairs and maintenance your vehicle needs. Some of the automotive services and repairs  we provide include</h5>
  </div>
   <div class="all_services">
        <div class="service_description">
</h5>
          <h1>What Is  It</h1>
  <h5>Automation is changing the way we drive/ride. Self-driving/riding vehicles are already on the roads, and more advanced systems are being developed every day. Automation has the potential to reduce accidents, save lives, and make transportation more efficient. It is an exciting time to be in the automotive industry, and as the technology continues to evolve, we can expect to see more innovation and advancements in the future.
  </h5>
        </div>
        <div class="service_img">
          <img src="../images/mechanic 2.jpg" alt="">
        </div>
   </div>
   <div class="all_services">
      <div class="service_img">
          <img src="../images/mechanicUnderCar.jpg" alt="">
        </div>
      <div class="service_description">
        <h1>How It  Works</h1>
  <h5>Automated vehicles use a combination of sensors, cameras, and software to control the vehicle's speed, direction, and braking. The technology allows the vehicle to navigate roads, avoid obstacles, and communicate with other vehicles on the road. Advanced systems use artificial intelligence to analyze data and make decisions in real-time.

  </h5>
      </div>
   
 </div>
 <div class="all_services">
  <div class="service_description">
    <h1>Why It  Is useful</h1>

<h5>There are several levels of automation for vehicles, from basic driver assistance systems to fully autonomous vehicles. Some of the most common automation features include adaptive cruise control, lane departure warnings, and automatic emergency braking. These features can help reduce accidents and make driving safer.</h5>  </div>
  <div class="service_img">
    <img src="../images/mechanic3.jpg" alt="">
  </div>
</div>
<div class="all_services">
<div class="service_img">
    <img src="../images/windshieldChnage.jpg" alt="">
  </div>
<div class="service_description">
  <h1>When To  Do</h1>
<h5>Automation is transforming the way we drive, and the benefits are numerous. Automated vehicles can make transportation safer, more efficient, and more accessible. While there are still challenges to overcome, such as regulatory and legal issues, the potential of automation is too great to ignore. As the technology continues to evolve, we can expect to see more innovation and advancements in the future, and the possibilities are endless.</h5>

</div>

</div>

</div></div>

<%- include('../serviceFooter')%>
<script src="../javascripts/script.js"></script>
<!-- <script src="../javascripts/our-services.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../javascripts/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>