<%- include('../header')%>
<%- include('../nav')%>

<div class="our_services_main">
<div class="our_services_main_first_page">

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
      centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
      <swiper-slide>  <img src="../images/clutch.png" alt="loading... ">  <div class="servicesSlide">
        <h2>Clutch & body parts <br>For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div>
    </swiper-slide>
      <swiper-slide><img src="../images/brake2.png" alt=" "> <div class="servicesSlide">
        <h2>Clutch & body parts <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/chesis repair.png" alt=" "> <div class="servicesSlide">
        <h2>Clutch & body parts <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/engine17.png " alt=" "> <div class="servicesSlide">
        <h2>Clutch & body parts <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
  
    </swiper-container>
</div>

    <div class="our_services_main_second_page">
        <div class="our_services_main_second_page_top">
            <h1>SERVICES WE PROVIDE</h1>
            <h5>We Provide all the services, repairs and maintenance your vehicle needs. Some of the automotive services and repairs  we provide include</h5>
        </div>
         <div class="all_services">
              <div class="service_description">
                
                <h1>What Is  It</h1>
<h5>Your vehicle's clutch is an essential component that allows you to change gears and smoothly transition between different speeds while driving. Over time, the clutch can wear down and require replacement or repair. Similarly, the body parts of your vehicle can also suffer from wear and tear, damage, or rust, affecting the overall appearance and safety of your vehicle.</h5>
              </div>
              <div class="service_img">
                <img src="../images/brake.jpg" alt="">
              </div>
         </div>
         <div class="all_services">
            <div class="service_img">
                <img src="../images/brake (2).png" alt="">
              </div>
            <div class="service_description">
              <h1>How It  Works</h1>
<h5>If you notice any signs of clutch or body part damage, such as difficulty shifting gears, strange noises or vibrations, or visible dents or rust, it's important to bring your vehicle in for a professional inspection and repair. Delaying these repairs can lead to more serious issues and potentially compromise your safety on the road.</h5>
  </div>
         
       </div>
       <div class="all_services">
        <div class="service_description">
          <h1>Why It  Is useful</h1>
 
<h5>During a clutch repair or replacement, a trained technician will inspect the clutch system, replace worn or damaged components, and adjust the clutch as necessary for proper performance. Similarly, body part repairs or replacements may involve welding, sanding, or painting to restore the appearance and safety of your vehicle.
</h5>
        </div>
        <div class="service_img">
          <img src="../images/wiper.png" alt="">
        </div>
   </div>
   <div class="all_services">
      <div class="service_img">
          <img src="../images/software2.png" alt="">
        </div>
      <div class="service_description">
        <h1>When To  Do</h1>
<h5>Taking care of your vehicle's clutch and body parts is important to ensure a safe and enjoyable driving experience. By addressing any signs of wear or damage early on, you can prevent more serious issues and potentially costly repairs down the road. Don't hesitate to bring your vehicle in for a professional inspection and repair if you notice any issues with your clutch or body parts. By keeping your vehicle in top condition, you can extend its lifespan and maintain its value.</h5>

</div>
   
 </div>

    </div>
</div>

<%- include('../serviceFooter')%>
<script src="../javascripts/script.js"></script>
<!-- <script src="../javascripts/our-services.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../javascripts/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>