<%- include('../header')%>
<%- include('../nav')%>

<div class="our_services_main">
<div class="our_services_main_first_page">

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
      centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
      <swiper-slide>  <img src="../images/painting (3).png " alt="loading... ">  <div class="servicesSlide">
        <h2>Denting & painting <br>For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div>
    </swiper-slide>
      <swiper-slide><img src="../images/painting.png " alt=" "> <div class="servicesSlide">
        <h2>Denting & painting <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/cleaning.png " alt=" "> <div class="servicesSlide">
        <h2>Denting & painting <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/car wash.png " alt=" "> <div class="servicesSlide">
        <h2>Denting & painting <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
  
    </swiper-container>
</div>

    <div class="our_services_main_second_page">
        <div class="our_services_main_second_page_top">
            <h1>SERVICES WE PROVIDE</h1>
            <h5>We Provide all the services, repairs and maintenance your vehicle needs. Some of the automotive services and repairs  we provide include</h5>
        </div>
         <div class="all_services">
              <div class="service_description">
                <h1>What Is  It</h1>
<h5>If your vehicle has a dent, it's important to address it promptly. Denting services use specialized tools and techniques to remove dents without damaging the paint. They may use methods like paintless dent repair (PDR) to reshape the metal panel from behind, eliminating the need for repainting.</h5>  </div>
              <div class="service_img">
                <img src="../images/cleaning.png" alt="">
              </div>
         </div>
         <div class="all_services">
            <div class="service_img">
                <img src="../images/painting.png" alt="">
              </div>
            <div class="service_description">
              <h1>How It  Works</h1>

<h5>Minor scratches or chips in the paint can be unsightly and may lead to rust if left untreated. Paint touch-up involves using color-matched paint to fill in and blend the damaged area, restoring the appearance and protecting the underlying metal from corrosion.</h5>           
 </div>
         
       </div>
       <div class="all_services">
        <div class="service_description">
          <h1>Why It  Is useful</h1>
 
<h5>In cases where the paint is extensively damaged, faded, or if you want to change the color of your vehicle, a complete repainting may be necessary. This involves sanding down the old paint, applying primer, basecoat, and clearcoat to achieve a smooth and durable finish.

</h5>
        </div>
        <div class="service_img">
          <img src="../images/paining.png" alt="">
        </div>
   </div>
   <div class="all_services">
      <div class="service_img">
          <img src="../images/software2.png" alt="">
        </div>
      <div class="service_description">
        <h1>When To  Do</h1>
<h5>Some car owners opt for custom paint jobs to personalize their vehicles. This could include unique colors, designs, or special finishes like metallic or pearl effects. Custom paint jobs require skilled professionals who can handle intricate detailing and ensure a high-quality and eye-catching result.
  </h5>
</div>
   
 </div>

    </div>
</div>

<%- include('../serviceFooter')%>
<script src="../javascripts/script.js"></script>
<!-- <script src="../javascripts/our-services.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../javascripts/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>