<%- include('../header')%>
<%- include('../nav')%>

<div class="our_services_main">
<div class="our_services_main_first_page">

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
      centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
      <swiper-slide>  <img src="../images/software.png " alt="loading... ">  <div class="servicesSlide">
        <h2>Diagnostic test  <br>For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div>
    </swiper-slide>
      <swiper-slide><img src="../images/chesis repair.png " alt=" "> <div class="servicesSlide">
        <h2>Diagnostic test  <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/engine7.png " alt=" "> <div class="servicesSlide">
        <h2>Diagnostic test  <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/chesis2.png" alt=" "> <div class="servicesSlide">
        <h2>Diagnostic test  <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
  
    </swiper-container>
</div>

    <div class="our_services_main_second_page">
        <div class="our_services_main_second_page_top">
            <h1>SERVICES WE PROVIDE</h1>
            <h5>We Provide all the services, repairs and maintenance your vehicle needs. Some of the automotive services and repairs  we provide include</h5>
        </div>
         <div class="all_services">
              <div class="service_description">
</h5>
                <h1>What Is  It</h1>
<h5>A functioning vehicle has become a necessity in our contemporary world. We rely on our personal vehicles to transport us to work, school, and various other places. Consequently, it is crucial to maintain your vehicle and ensure it is in optimal working order. Similar to how it is advisable to have annual check-ups for your physical health, there are several things you can do to maintain your vehicle's proper functioning.</h5>
</div>
              <div class="service_img">
                <img src="../images/car.png" alt="">
              </div>
         </div>
         <div class="all_services">
            <div class="service_img">
                <img src="../images/brake (2).png" alt="">
              </div>
            <div class="service_description">
              <h1>How It  Works</h1>
<h5>The use of diagnostic tests is a relatively recent development in the automotive industry. With vehicles increasingly relying on computer chips and sensors, it has become much easier for auto technicians to identify problems. Your car's components are connected digitally, and when an auto diagnostic test is performed and there is an issue with a part, a trouble code is generated..</h5>
</div>
         
       </div>
       <div class="all_services">
        <div class="service_description">
          <h1>Why It  Is useful</h1>
 
<h5>A diagnostic test can provide codes for numerous key components of your vehicle, including the engine, brakes, transmission, exhaust system, fuel injection system, coolant and air flow, and the sensors throughout your car, among others. The check engine light may illuminate for minor issues such as a loose gas cap or a more significant problem. That's why diagnostic tests are so useful!.</h5>
        </div>
        <div class="service_img">
          <img src="../images/battries.png" alt="">
        </div>
   </div>
   <div class="all_services">
      <div class="service_img">
          <img src="../images/software2.png" alt="">
        </div>
      <div class="service_description">
        <h1>When To  Do</h1>
<h5>If you suspect an issue with your vehicle, such as an odd smell, noise, or the check engine light is on, a diagnostic test is a recommended starting point for repairs. Nonetheless, it is always advantageous to conduct a diagnostic test on your vehicle, even if you have not noticed any issues. Just as regular maintenance tasks like oil changes and tire rotations are essential for vehicle upkeep, yearly diagnostic tests should also be a part of this routine..</h5>
</div>
   
 </div>

    </div>
</div>

<%- include('../serviceFooter')%>
<script src="../javascripts/script.js"></script>
<!-- <script src="../javascripts/our-services.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../javascripts/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>