<%- include('../header')%>
<%- include('../nav')%>

<div class="our_services_main">
<div class="our_services_main_first_page">

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
      centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
      <swiper-slide>  <img src="../images/battries.png " alt="loading... ">  <div class="servicesSlide">
        <h2>General repairs <br>For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div>
    </swiper-slide>
      <swiper-slide><img src="../images/brake (2).png " alt=" "> <div class="servicesSlide">
        <h2>General repairs <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/wiper.png " alt=" "> <div class="servicesSlide">
        <h2>General repairs <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/oil change5.png " alt=" "> <div class="servicesSlide">
        <h2>General repairs <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
  
    </swiper-container>
</div>

    <div class="our_services_main_second_page">
        <div class="our_services_main_second_page_top">
            <h1>SERVICES WE PROVIDE</h1>
            <h5>We Provide all the services, repairs and maintenance your vehicle needs. Some of the automotive services and repairs  we provide include</h5>
        </div>
         <div class="all_services">
              <div class="service_description">
</h5>
                <h1>What Is  It</h1>
<h5>As a vehicle owner, you may encounter a variety of issues that require general repairs, ranging from minor problems like a broken taillight to more complex issues like engine trouble or transmission failure. No matter the issue, it's important to address it as soon as possible to prevent further damage and ensure your safety on the road.
</h5>

</div>
              <div class="service_img">
                <img src="../images/engine5.png" alt="">
              </div>
         </div>
         <div class="all_services">
            <div class="service_img">
                <img src="../images/bonut.jpg" alt="">
              </div>
            <div class="service_description">
              <h1>How It  Works</h1>
<h5>When you bring your vehicle in for general repairs, a trained technician will perform a thorough inspection to identify the root cause of the problem. This may involve diagnostic tests, visual inspections, and other techniques to pinpoint the issue and develop an effective repair plan.</h5>
</div>
         
       </div>
       <div class="all_services">
        <div class="service_description">
          <h1>Why It  Is useful</h1>
 
<h5>Depending on the nature of the repair, the technician may need to replace or repair various components of your vehicle, such as belts, hoses, spark plugs, or brakes. They may also need to perform more extensive repairs, such as engine or transmission overhauls. Throughout the repair process, the technician will keep you informed of the progress and any unexpected findings.</h5>
</div>
        <div class="service_img">
          <img src="../images/battery (2).png" alt="">
        </div>
   </div>
   <div class="all_services">
      <div class="service_img">
          <img src="../images/software2.png" alt="">
        </div>
      <div class="service_description">
        <h1>When To  Do</h1>
<h5>General repairs are a necessary part of vehicle ownership. By addressing issues promptly and relying on the expertise of trained technicians, you can maintain the safety, reliability, and performance of your vehicle. Don't hesitate to bring your vehicle in for general repairs if you notice any issues, such as strange noises, warning lights, or reduced performance. With proper care and maintenance, you can enjoy many years of trouble-free driving.</h5>
</div>
   
 </div>

    </div>
</div>

<%- include('../serviceFooter')%>
<script src="../javascripts/script.js"></script>
<!-- <script src="../javascripts/our-services.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../javascripts/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>