<%- include('../header')%>
<%- include('../nav')%>

<div class="our_services_main">
<div class="our_services_main_first_page">

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
      centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
      <swiper-slide>  <img src="../images/ourServices.webp " alt="loading... ">  <div class="servicesSlide">
        <h2>Insurance services <br>For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div>
    </swiper-slide>
      <swiper-slide><img src="../images/small-engine-mechanics.jpg " alt=" "> <div class="servicesSlide">
        <h2>Insurance services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/car-repair.jpg " alt=" "> <div class="servicesSlide">
        <h2>Insurance services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/mechanic3.jpg " alt=" "> <div class="servicesSlide">
        <h2>Insurance services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
  
    </swiper-container>
</div>

    <div class="our_services_main_second_page">
        <div class="our_services_main_second_page_top">
            <h1>SERVICES WE PROVIDE</h1>
            <h5>We Provide all the services, repairs and maintenance your vehicle needs. Some of the automotive services and repairs  we provide include</h5>
        </div>
         <div class="all_services">
              <div class="service_description">
</h5>
                <h1>What Is  It</h1>
<h5>Insurance is an essential part of owning and driving a vehicle. It provides financial protection in case of an accident or damage to your vehicle. When looking for insurance, it is important to consider various factors such as coverage options, deductibles, and premium rates. With the right insurance policy, you can have peace of mind while driving on the road.</h5>

</div>
              <div class="service_img">
                <img src="../images/mechanic 2.jpg" alt="">
              </div>
         </div>
         <div class="all_services">
            <div class="service_img">
                <img src="../images/mechanicUnderCar.jpg" alt="">
              </div>
            <div class="service_description">
              <h1>How It  Works</h1>
<h5>There are different types of insurance policies available for vehicles, including liability, collision, comprehensive, and personal injury protection. Liability insurance is the most basic type of insurance and covers damages and injuries caused to others in an accident. Collision insurance covers damages to your own vehicle in an accident, while comprehensive insurance covers damages caused by events such as theft, vandalism, or natural disasters. Personal injury protection covers medical expenses for you and your passengers in the event of an accident.</h5>

</div>
         
       </div>
       <div class="all_services">
        <div class="service_description">
          <h1>Why It  Is useful</h1>
 
<h5>Insurance providers also offer additional services such as roadside assistance, which can be helpful in case of a breakdown or flat tire. Some providers also offer rental car coverage, which can be beneficial if your vehicle is in the shop for repairs. It is important to choose an insurance provider that offers services and coverage options that meet your specific needs.</h5>

</div>
        <div class="service_img">
          <img src="../images/mechanic3.jpg" alt="">
        </div>
   </div>
   <div class="all_services">
      <div class="service_img">
          <img src="../images/windshieldChnage.jpg" alt="">
        </div>
      <div class="service_description">
        <h1>When To  Do</h1>
<h5>When choosing an insurance provider, it is also important to consider factors such as customer service and reputation. Look for providers that have good reviews and a track record of reliable service. It is also a good idea to compare rates and coverage options from multiple providers to ensure you are getting the best deal possible. With the right insurance policy, you can enjoy the freedom of the open road with the peace of mind that comes with knowing you are protected.</h5>

</div>
   
 </div>

    </div>
</div>

<%- include('../serviceFooter')%>
<script src="../javascripts/script.js"></script>
<!-- <script src="../javascripts/our-services.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../javascripts/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>