<%- include('../header')%>
<%- include('../nav')%>

<div class="services_main">
<div class="our_services_main_first_page">

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
      centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
      <swiper-slide>  <img src=" ../images/engine16.png" alt="loading... ">  <div class="servicesSlide">
        <h2>Best services <br> For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div>
    </swiper-slide>
      <swiper-slide><img src="../images/tire2.png " alt=" "> <div class="servicesSlide">
        <h2>Best services <br> For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/painting (2).png " alt=" "> <div class="servicesSlide">
        <h2>Best services <br> For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/engine2.png " alt=" "> <div class="servicesSlide">
        <h2>Best services <br> For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
  
    </swiper-container>
</div>

    <div class="our_services_main_second_page">
        <div class="our_services_main_second_page_top">
            <h1>SERVICES WE PROVIDE</h1>
            <h5>We Provide all the services, repairs and maintenance your vehicle needs. Some of the automotive services and repairs  we provide include</h5>
        </div>
         <div class="all_services">
              <div class="service_description">
                <h1>General  Services</h1>
                <h5>No time to service your vehicles? 
                    Get our quick  services , Our general services for vehicles includes inspection of your vehicle, engine oil change, cleaning, washing, polishing and much more at an affordable price.
                    Get periodic vehicle services by our experienced and certified professional  mechanics. Book your slot & avail hassle-free service for your vehicle.
                    </h5>
              </div>
              <div class="service_img">
                <img src="../images/engine14.png" alt="">
              </div>
         </div>
         <div class="all_services">
            <div class="service_img">
                <img src="../images/engine15.png" alt="">
              </div>
            <div class="service_description">
              <h1>Brakes &  Clutches</h1>
              <h5>Our roads have become busy!
                The brakes and clutches of a vehicle remain busy from the time the vehicle starts and reaches its destination.
                Thus, it becomes very important that you take extraordinary care of the brake and the clutch. Use the best quality engine oil and Mobil to lubricate your clutch and get your brake shoes inspected once every year and replaced once in every three years.
                </h5>
            </div>
         
       </div>
       <div class="all_services">
        <div class="service_description">
          <h1>Batteries &  AC Services</h1>
         <h5> A battery not only helps to start your car but also possesses enough electricity to keep it running. if you keep the damaged battery in the car, it will harm the car by putting additional pressures on the other parts of it. 
            When your car’s air conditioning system is working properly, you can enjoy a comfortable, safe driving experience. On the other hand, a fault with your car’s air conditioning system could lead to increased fuel consumption, or even a costly compressor replacement.
            
            </h5>
        </div>
        <div class="service_img">
          <img src="../images/battery (2).png" alt="">
        </div>
   </div>
   <div class="all_services">
      <div class="service_img">
          <img src="../images/tire5.png" alt="">
        </div>
      <div class="service_description">
        <h1>Tires & Alloy Wheels</h1>
      <h5>Tires and wheels are critical components of your vehicle's safety and performance, and proper care is essential to keep them in good working condition. Regular tire and wheel maintenance ensure that your vehicle runs smoothly, reduces the risk of accidents, and prolongs the life of your tires. It is crucial to follow your vehicle manufacturer's recommendations for tire and wheel maintenance to ensure the safety and performance of your vehicle.</h5>
     
    </div>
   
 </div>
 <div class="all_services">
    <div class="service_description">
      <h1>Insurance &  Claims</h1>
   <h5>The importance of vehicle insurance today is all the more crucial then it ever was.
    Every vehicle owner will agree that maintaining it in good shape has become more of a hassle than people expect it to be. This is where the concept of car insurance kicks in to make our life easier. Having a vehicle insurance policy covers your expenses in the event of vehicle damage or injuries to other drivers or passengers.
    </h5>
    </div>
    <div class="service_img">
      <img src="../images/insurance.png" alt="">
    </div>
</div>
    </div>
</div>

<%- include('../serviceFooter')%>
<%- include('../footer')%>
