<%- include('../header')%>
<%- include('../nav')%>

<div class="our_services_main">
<div class="our_services_main_first_page">

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
      centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
      <swiper-slide>  <img src="../images/engine2.png "alt="loading... ">  <div class="servicesSlide">
        <h2>RSA services <br>For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div>
    </swiper-slide>
      <swiper-slide><img src="../images/engine16.png " alt=" "> <div class="servicesSlide">
        <h2>RSA services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/rsa3.png" alt=" "> <div class="servicesSlide">
        <h2>RSA services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/rsa4.png" alt=" "> <div class="servicesSlide">
        <h2>RSA services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
  
    </swiper-container>
</div>

    <div class="our_services_main_second_page">
        <div class="our_services_main_second_page_top">
            <h1>SERVICES WE PROVIDE</h1>
            <h5>We Provide all the services, repairs and maintenance your vehicle needs. Some of the automotive services and repairs  we provide include</h5>
        </div>
         <div class="all_services">
              <div class="service_description">
</h5>
                <h1>What Is  It</h1>
              <h5>  Roadside Assistance (RSA) services are designed to provide help and support to vehicle owners when they encounter unexpected issues on the road. Whether you've experienced a flat tire, run out of gas, or have a dead battery, RSA services can help get you back on the road quickly and safely.</h5>
</div>
              <div class="service_img">
                <img src="../images/bonut.jpg" alt="">
              </div>
         </div>
         <div class="all_services">
            <div class="service_img">
                <img src="../images/engine8.png" alt="">
              </div>
            <div class="service_description">
              <h1>How It  Works</h1>
<h5>When you subscribe to an RSA service, you gain access to a network of trained professionals who can provide a range of assistance services. This may include tire changes, fuel delivery, jump-starts, or even towing services if your vehicle cannot be repaired on the spot. RSA services can give you peace of mind knowing that help is just a phone call away.</h5>
</div>
         
       </div>
       <div class="all_services">
        <div class="service_description">
          <h1>Why It  Is useful</h1>
 
<h5>RSA services are available with us, so you can get help whenever you need it, regardless of the time or location. This can be especially beneficial when you're traveling long distances, as you may not be familiar with the area or the local service providers. With RSA services, you can feel confident that you have support no matter where the road takes you.</h5>


</div>
        <div class="service_img">
          <img src="../images/engine2.png" alt="">
        </div>
   </div>
   <div class="all_services">
      <div class="service_img">
          <img src="../images/software2.png" alt="">
        </div>
      <div class="service_description">
        <h1>When To  Do</h1>
<h5>RSA services can be a valuable investment for any vehicle owner. By subscribing to an RSA service, you can have the peace of mind knowing that help is always available when you need it. Whether you encounter a minor issue like a flat tire or a more serious problem like a breakdown, RSA services can provide the support and assistance you need to get back on the road quickly and safely.</h5>
</div>
   
 </div>

    </div>
</div>

<%- include('../serviceFooter')%>
<script src="../javascripts/script.js"></script>
<!-- <script src="../javascripts/our-services.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../javascripts/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>