<%- include('../header')%>
<%- include('../nav')%>

<div class="our_services_main">
<div class="our_services_main_first_page">

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
      centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
      <swiper-slide>  <img src="../images/ourServices.webp " alt="loading... ">  <div class="servicesSlide">
        <h2>Scheduled services <br>For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div>
    </swiper-slide>
      <swiper-slide><img src="../images/small-engine-mechanics.jpg " alt=" "> <div class="servicesSlide">
        <h2>Scheduled services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/car-repair.jpg " alt=" "> <div class="servicesSlide">
        <h2>Scheduled services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/mechanic3.jpg " alt=" "> <div class="servicesSlide">
        <h2>Scheduled services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
  
    </swiper-container>
</div>

    <div class="our_services_main_second_page">
        <div class="our_services_main_second_page_top">
            <h1>SERVICES WE PROVIDE</h1>
            <h5>We Provide all the services, repairs and maintenance your vehicle needs. Some of the automotive services and repairs  we provide include</h5>
        </div>
         <div class="all_services">
              <div class="service_description">

                <h1>What Is  It</h1>
             <h5>Scheduled services are an essential part of maintaining the health and longevity of your vehicle. These services include routine maintenance tasks like oil changes, tire rotations, and brake inspections, as well as more comprehensive services like engine tune-ups and transmission fluid changes.</h5>
              </div>
              <div class="service_img">
                <img src="../images/mechanic 2.jpg" alt="">
              </div>
         </div>
         <div class="all_services">
            <div class="service_img">
                <img src="../images/mechanicUnderCar.jpg" alt="">
              </div>
            <div class="service_description">
              <h1>How It  Works</h1>
<h5>By following the manufacturer's recommended service schedule for your vehicle, you can help prevent more significant problems down the line. Regular maintenance can catch minor issues before they become major, saving you both time and money in the long run. Additionally, sticking to a scheduled maintenance routine can help ensure that your vehicle runs smoothly and efficiently.

</h5>
</div>
         
       </div>
       <div class="all_services">
        <div class="service_description">
          <h1>Why It  Is useful</h1>
 
<h5>Scheduled services typically include a range of tasks that are tailored to your vehicle's specific needs based on its make, model, and mileage. Your mechanic will be able to recommend a service schedule that is best suited to your vehicle and driving habits. Depending on the age and condition of your vehicle, you may need more frequent services to keep it running at its best.</h5>

</div>
        <div class="service_img">
          <img src="../images/mechanic3.jpg" alt="">
        </div>
   </div>
   <div class="all_services">
      <div class="service_img">
          <img src="../images/windshieldChnage.jpg" alt="">
        </div>
      <div class="service_description">
        <h1>When To  Do</h1>
<h5>Scheduled services are an essential part of maintaining your vehicle's health and performance. By following the manufacturer's recommended service schedule, you can help prevent major problems down the line, keep your vehicle running smoothly and efficiently, and save money on costly repairs. Be sure to consult with your mechanic to determine the best service schedule for your vehicle, and stick to it to keep your vehicle in top condition for years to come.</h5>

</div>
   
 </div>

    </div>
</div>

<%- include('../serviceFooter')%>
<script src="../javascripts/script.js"></script>
<!-- <script src="../javascripts/our-services.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../javascripts/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>