<%- include('../header')%>
<%- include('../nav')%>

<div class="our_services_main">
<div class="our_services_main_first_page">

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
      centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
      <swiper-slide>  <img src="../images/tire2.png " alt="loading... ">  <div class="servicesSlide">
        <h2>Tires & wheel care <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div>
    </swiper-slide>
      <swiper-slide><img src="../images/tire3.png " alt=" "> <div class="servicesSlide">
        <h2>Tires & wheel care <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/tire6.png " alt=" "> <div class="servicesSlide">
        <h2>Tires & wheel care <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/tire5.png " alt=" "> <div class="servicesSlide">
        <h2>Tires & wheel care <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
  
    </swiper-container>
</div>

    <div class="our_services_main_second_page">
        <div class="our_services_main_second_page_top">
            <h1>SERVICES WE PROVIDE</h1>
            <h5>We Provide all the services, repairs and maintenance your vehicle needs. Some of the automotive services and repairs  we provide include</h5>
        </div>
         <div class="all_services">
              <div class="service_description">
                
                <h1>What Is  It</h1>
                <h5>Tires and wheels are critical components of your vehicle's safety and performance, and proper care is essential to keep them in good working condition. Regular tire and wheel maintenance ensure that your vehicle runs smoothly, reduces the risk of accidents, and prolongs the life of your tires. It is crucial to follow your vehicle manufacturer's recommendations for tire and wheel maintenance to ensure the safety and performance of your vehicle.</h5>
</div>
              <div class="service_img">
                <img src="../images/tire1.png" alt="">
              </div>
         </div>
         <div class="all_services">
            <div class="service_img">
                <img src="../images/tires4.png" alt="">
              </div>
            <div class="service_description">
              <h1>How It  Works</h1>
              <h5>During a tire and wheel inspection, a technician will examine your tires for signs of wear and damage, such as low tread depth, punctures, or bulges. They will check the tire pressure and adjust it if necessary, as incorrect tire pressure can lead to uneven wear, reduced performance, and even accidents. The technician will also inspect your wheels for damage and make any necessary repairs.
              </h5>

            </div>
         
       </div>
       <div class="all_services">
        <div class="service_description">
          <h1>Why It  Is useful</h1>
          <h5>Regular tire rotation is also essential to ensure that your tires wear evenly and last longer. Uneven wear can cause your tires to wear out prematurely and affect the handling and performance of your vehicle. Tire rotation is recommended every 5,000 to 7,500 miles, depending on your vehicle manufacturer's recommendations.</h5>


        </div>
        <div class="service_img">
          <img src="../images/rsa3.png" alt="">
        </div>
   </div>
   <div class="all_services">
      <div class="service_img">
          <img src="../images/software2.png" alt="">
        </div>
      <div class="service_description">
        <h1>When To  Do</h1>
        <h5>Proper tire and wheel maintenance are crucial to keep your vehicle running smoothly, reducing the risk of accidents, and prolonging the life of your tires. Regular tire and wheel inspections, along with tire rotation and proper inflation, can help you avoid costly repairs and extend the lifespan of your tires. To ensure the safety and performance of your vehicle, follow your vehicle manufacturer's recommendations for tire and wheel care, and have your tires and wheels inspected regularly by a certified technician.</h5>

</div>
   
 </div>

    </div>
</div>

<%- include('../serviceFooter')%>
<script src="../javascripts/script.js"></script>
<!-- <script src="../javascripts/our-services.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../javascripts/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>







