<%- include('../header')%>

    <div id="career_page">
    <div class="career_overlay">
        <%- include('../nav')%>
        <div class="header-text">
            <h1>Careers</h1>
            <p>Be Our Team; To Dream Big & Keep Your Heads Up.</p>
            
        </div>
        <div class="jobOpeningBox">
            <h1>Stay Connected Share Your Resume...</h1>
            <p>please submit your profile here for future openings we look forword to work with you</p>
            <button><a href="https://forms.gle/fBmqpjavGryQtVrRA" >Submit</a></button>
        </div>
    </div>
</div>
<%- include('../footer')%>
    <!-- <script>
        const hamburger = document.querySelector(".hamburger");
        const navLinks = document.querySelector (".nav-links");
        const links = document.querySelectorAll (".nav-links li");
        hamburger.addEventListener('click', () => {
            navLinks.classList.toggle("open");
            links.forEach(link => {
            link.classList.toggle("fade");
            });
            hamburger.classList.toggle("toggle");
        });
    </script> -->

